---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<br>
<h2>Talks and Presentations prior to 2019:</h2>
<h3>Conference Presentations</h3>
2018
<ul>
<li>Research in Behavioral Finance Conference (RBFC), Amsterdam, The Netherlands</li> 
<li>European Economic Association (EEA), Annual Congress, Cologne, Germany</li>
<li>TIBER 2018 Symposium, Tilburg, The Netherlands</li>
<li>Economic Science Association (ESA) World Meeting, Berlin, Germany</li> 
<li>European Accounting Association (EAA), Milan, Italy</li> 
<li>Swiss Society for Financial Market Research (SGF), Zurich, Switzerland</li>
</ul>
2017
<ul>
<li>Informs Annual Meeting, Houston, TX, USA</li> 
<li>Experimental Finance Conference, Nice, France</li>
<li>German Academic Association for Business Research (VHB), St. Gallen, Switzerland</li>
<li>American Finance Association (AFA), Annual Meeting, Chicago, IL, USA</li>
</ul>
2016
<ul>
<li>Economic Policy 64th Panel Meeting, Florence, Italy</li>
<li>German Finance Association (DGF), Bonn, Germany</li> 
<li>Research in Behavioral Finance Conference, Amsterdam, The Netherlands</li> 
<li>Foundations of Utility and Risk 2016 Conference, Warwick, UK</li> 
<li>Netspar International Pension Workshop, Leiden, The Netherlands</li></ul>
2015
<ul>
<li>German Finance Association (DGF), Leipzig, Germany</li> 
<li>The European Association for Decision Making (SPUDM 25), Budapest, Hungary</li> 
<li>Eastern Finance Association, Annual Meeting, New Orleans, LA, USA</li>
<li>American Economic Association (AEA), Annual Meeting, Boston, MA, USA</li></ul>
2014
<ul>
<li>German Finance Association (DGF), Karlsruhe, Germany</li> 
<li>Research in Behavioral Finance Conference, Rotterdam, The Netherlands</li>
<li>Society for the Advancement of Behavioral Economics (SABE), Stateline, NV, USA</li>
<li>Experimental Finance Conference, Zurich, Switzerland</li>
<li>Summer Conference on Consumer Financial Decision Making, Boulder, CO, USA</li></ul>
2013
<ul>
<li>Financial Management Association (FMA), Annual Meeting, Chicago, IL, USA</li>
<li>German Finance Association (DGF), Wuppertal, Germany</li>
<li>2nd European Retail Investment Conference (ERIC), Stuttgart, Germany</li>
<li>International Meeting on Experimental and Behavioral Economics (IMEBE), Madrid, Spain</li>
<li>American Finance Association (AFA), Annual Meeting, San Diego, CA, USA</li></ul>
2012
<ul>
<li>German Finance Association (DGF), Hannover, Germany</li> 
<li>European Finance Association (EFA), Annual Meeting, Copenhagen, Denmark</li>
<li>Behavioral Decision Research in Management Conference (BDRM), Boulder, CO, USA</li>
<li>Swiss Society for Financial Market Research (SGF), Zurich, Switzerland</li>
<li>Finance Down Under Conference, Melbourne, Australia</li></ul>
2011
<ul>
<li>The European Association for Decision Making (SPUDM 23), Kingston upon Thames, UK</li>
<li>Summer Conference on Consumer Financial Decision Making, Boulder, CO, USA</li>
<li>Western Finance Association (WFA), Annual Meetings, Santa Fe, NM, United States</li>
<li>1st European Retail Investment Conference (ERIC), Stuttgart, Germany</li></ul>
2010
<ul>
<li>German Finance Association (DGF), Hamburg, Germany</li> 
<li>IAREP and SABE, Joint Conference, Cologne, Germany</li>
<li>Behavioral Decision Research in Management Conference (BDRM), Pittsburgh, PA, USA</li>
<li>International Meeting on Experimental and Behavioral Economics (IMEBE), Bilbao, Spain</li></ul>
2009
<ul>
<li>German Finance Association (DGF), Frankfurt, Germany</li>
<li>The European Association for Decision Making (SPUDM 22) Conference, Rovereto, Italy</li>
<li>IAREP and SABE, Joint Conference, Halifax, Canada</li>
<li>Financial Management Association European Conference (FMAE), Turin, Italy</li>
<li>International Meeting on Exp. and Behavioral Economics (IMEBE), Granada, Spain</li></ul>

<h3>Invited Presentations</h3> 
<ul>
<li>Leibniz University, Hannover, Finance Seminar, 2018</li>
<li>Edinburgh University, School of Business, 2018</li>
<li>Free University Bozen, Faculty of Economics and Management, 2018</li>
<li>German Graduate School, Heilbronn, Research Seminar, 2017</li>
<li>Eberhard-Karls University Tübingen, Business Research Seminar, 2017</li> 
<li>University of St. Gallen, Finance Research Seminar, 2017</li> 
<li>German Financial Analysts Association (DVFA), Frankfurt a. M., 2017</li>
<li>Lancaster University, Management School, 2016</li>
<li>Goethe University Frankfurt, Finance Brown Bag Seminar, 2016</li>
<li>Duke University, Fuqua School of Business, Area Finance Brown Bag Seminar,  2015</li>
<li>University of Cologne, Faculty of Management, Economics and Social Sciences, 2015</li>
<li>University of Münster, Finance and Insurance Seminar, 2014</li>
<li>Aalto University, Department of Finance Brown Bag Seminar, 2013</li>
<li>Maastricht University, Department of Finance, 2011</li>
<li>Université de Lyon, Groupe d'Analyse et de Théorie Economique (GATE), 2010</li></ul>

