---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<br>
Talks and Presentations prior to 2019:
<br>
Conference Presentations 
-----<br>
2018
* Research in Behavioral Finance Conference (RBFC), Amsterdam, The Netherlands 
* European Economic Association (EEA), Annual Congress, Cologne, Germany 
* TIBER 2018 Symposium, Tilburg, The Netherlands
* Economic Science Association (ESA) World Meeting, Berlin, Germany 
* European Accounting Association (EAA), Milan, Italy 
* Swiss Society for Financial Market Research (SGF), Zurich, Switzerland 
2017
* Informs Annual Meeting, Houston, TX, USA 
* Experimental Finance Conference, Nice, France
* German Academic Association for Business Research (VHB), St. Gallen, Switzerland
* American Finance Association (AFA), Annual Meeting, Chicago, IL, USA
2016
•	Economic Policy 64th Panel Meeting, Florence, Italy
•	German Finance Association (DGF), Bonn, Germany 
•	Research in Behavioral Finance Conference, Amsterdam, The Netherlands 
•	Foundations of Utility and Risk 2016 Conference, Warwick, UK 
•	Netspar International Pension Workshop, Leiden, The Netherlands
2015
•	German Finance Association (DGF), Leipzig, Germany 
•	The European Association for Decision Making (SPUDM 25), Budapest, Hungary 
•	Eastern Finance Association, Annual Meeting, New Orleans, LA, USA
•	American Economic Association (AEA), Annual Meeting, Boston, MA, USA 
2014
•	German Finance Association (DGF), Karlsruhe, Germany 
•	Research in Behavioral Finance Conference, Rotterdam, The Netherlands
•	Society for the Advancement of Behavioral Economics (SABE), Stateline, NV, USA
•	Experimental Finance Conference, Zurich, Switzerland
•	Summer Conference on Consumer Financial Decision Making, Boulder, CO, USA
2013
•	Financial Management Association (FMA), Annual Meeting, Chicago, IL, USA
•	German Finance Association (DGF), Wuppertal, Germany
•	2nd European Retail Investment Conference (ERIC), Stuttgart, Germany
•	International Meeting on Experimental and Behavioral Economics (IMEBE), Madrid, Spain
•	American Finance Association (AFA), Annual Meeting, San Diego, CA, USA
2012
•	German Finance Association (DGF), Hannover, Germany 
•	European Finance Association (EFA), Annual Meeting, Copenhagen, Denmark
•	Behavioral Decision Research in Management Conference (BDRM), Boulder, CO, USA
•	Swiss Society for Financial Market Research (SGF), Zurich, Switzerland
•	Finance Down Under Conference, Melbourne, Australia
2011
•	The European Association for Decision Making (SPUDM 23), Kingston upon Thames, UK
•	Summer Conference on Consumer Financial Decision Making, Boulder, CO, USA
•	Western Finance Association (WFA), Annual Meetings, Santa Fe, NM, United States
•	1st European Retail Investment Conference (ERIC), Stuttgart, Germany
2010
•	German Finance Association (DGF), Hamburg, Germany 
•	IAREP and SABE, Joint Conference, Cologne, Germany
•	Behavioral Decision Research in Management Conference (BDRM), Pittsburgh, PA, USA
•	International Meeting on Experimental and Behavioral Economics (IMEBE), Bilbao, Spain
2009
•	German Finance Association (DGF), Frankfurt, Germany
•	The European Association for Decision Making (SPUDM 22) Conference, Rovereto, Italy
•	IAREP and SABE, Joint Conference, Halifax, Canada
•	Financial Management Association European Conference (FMAE), Turin, Italy
•	International Meeting on Exp. and Behavioral Economics (IMEBE), Granada, Spain

Invited Presentations 

•	Leibniz University, Hannover, Finance Seminar, 2018 
•	Edinburgh University, School of Business, 2018
•	Free University Bozen, Faculty of Economics and Management, 2018
•	German Graduate School, Heilbronn, Research Seminar, 2017
•	Eberhard-Karls University Tübingen, Business Research Seminar, 2017 
•	University of St. Gallen, Finance Research Seminar, 2017 
•	German Financial Analysts Association (DVFA), Frankfurt a. M., 2017
•	Lancaster University, Management School, 2016
•	Goethe University Frankfurt, Finance Brown Bag Seminar, 2016
•	Duke University, Fuqua School of Business, Area Finance Brown Bag Seminar,  2015
•	University of Cologne, Faculty of Management, Economics and Social Sciences, 2015
•	University of Münster, Finance and Insurance Seminar, 2014
•	Aalto University, Department of Finance Brown Bag Seminar, 2013
•	Maastricht University, Department of Finance, 2011
•	Université de Lyon, Groupe d'Analyse et de Théorie Economique (GATE), 2010 

